body {
    background: url('../img/restaurant_icons.png');
}

.page-content {
    background-color: #fdfdfd;
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.6);
    padding: 0px 100px 250px 100px;
    position: relative;
}

.titel {
    color: #FFF;
    background: url('../img/footer_lodyas.png');
    margin: 0 !important;
    padding-top: 40px;
}

.footer {
    position: absolute;
    bottom: 60px;
}