{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}New Item{% endblock %}
{%block header%}
<h1>Tripping Archer <small>
    <strong>H</strong>ome 
    <strong>M</strong>anagement 
    <strong>S</strong>ystem
    </small>
</h1>
{%endblock%}
{% block body %}
<h2>Edit Item {{item.name}}</h2>

<form method=post action="{{ url_for('editItem', itemId = item.id)}}">
  <dl>
    {{ render_field(form.name, value=item.name) }}
    {{ render_field(form.fridgeCount, value=item.fridgeCount) }}
    {{ render_field(form.rebuyPoint, value=item.rebuyPoint) }}
  </dl>
  <p><button class="btn btn-success glyphicon glyphicon-check" type=submit value=New > </button>
</form>
{% endblock %}