{% extends "layout.html" %}
{% block title %}Fridge{% endblock %}
{%block header%}
<h1>Tripping Archer <small>
    <strong>H</strong>ome 
    <strong>M</strong>anagement 
    <strong>S</strong>ystem
    </small>
</h1>
{%endblock%}
{% block body %}
<h1>Fridge</h1>
{% set count = [] %}   
{%for item in items%}
{%if count|length % 2 == 0 %}
<div class="row">
    <div class="col-md-6">
        <div class="zheight-1 bs-callout {{'bs-callout-danger' if item.fridgeCount <= item.rebuyPoint else ''}}">
        <span class="">{{item.name}}</span>
        <span class="badge">{{"%g"|format(item.fridgeCount)}}</span>
        <div class="buttons pull-right">
            <a href="{{ url_for('editItem', itemId=item.id)}}">
                <span class="btn btn-warning glyphicon glyphicon-pencil editButton actionButton zheight-1"></span>
            </a>
            <a href="{{ url_for('deleteItem', itemId=item.id)}}">
                <span class="btn btn-danger glyphicon glyphicon-trash deleteButton actionButton zheight-1"></span>
            </a>
<!--             <a href="">
                <span class="btn btn-primary glyphicon glyphicon-share-alt forwardButton actionButton zheight-1"></span>
            </a>
 -->        </div>
        <div class="clearfix"></div>
</div>
</div>
{% if count.append(1) %}{% endif %}
{%else%}
<div class="col-md-6">
  <div class="zheight-1 bs-callout {{'bs-callout-danger' if item.fridgeCount <= item.rebuyPoint else ''}}">
        <span class="">{{item.name}}</span>
        <span class="badge" style="margin: 0 auto">{{"%g"|format(item.fridgeCount)}}</span>
        <div class="buttons pull-right">
            <a href="{{ url_for('editItem', itemId=item.id)}}">
                <span class="btn btn-warning glyphicon glyphicon-pencil editButton actionButton zheight-1"></span>
            </a>
            <a href="{{ url_for('deleteItem', itemId=item.id)}}">
                <span class="btn btn-danger glyphicon glyphicon-trash deleteButton actionButton zheight-1"></span>
            </a>
<!--             <a href="">
                <span class="btn btn-primary glyphicon glyphicon-share-alt forwardButton actionButton zheight-1"></span>
            </a>
 -->        </div>
        <div class="clearfix"></div>
</div>  
</div>
</div>
{% if count.append(1) %}{% endif %}
{%endif%}
{%endfor%}
{%if count|length % 2 == 1 %}
</div>
<!-- ungerade -->
{%endif%}
<a href="{{ url_for('newItem') }}" class="btn btn-success glyphicon glyphicon-plus"></a>
{% endblock %}