{% extends "layout.html" %}
{% block title %}Fridge{% endblock %}
{%block header%}
<h1>Tripping Archer <small>
    <strong>H</strong>ome 
    <strong>M</strong>anagement 
    <strong>S</strong>ystem
    </small>
</h1>
{%endblock%}
{% block body %}
<h1>Fridge</h1>
   
{%for item in items%}
<div class="bs-callout {{'bs-callout-danger' if item.fridgeCount <= item.rebuyPoint else ''}}">
        <span class="">{{item.name}}</span>
        <div class="buttons pull-right">
            <a href="{{ url_for('editItem', itemId=item.id)}}">
                <span class="btn btn-warning glyphicon glyphicon-pencil editButton actionButton"></span>
            </a>
            <a href="{{ url_for('deleteItem', itemId=item.id)}}">
                <span class="btn btn-danger glyphicon glyphicon-trash deleteButton actionButton"></span>
            </a>
            <a href="">
                <span class="btn btn-primary glyphicon glyphicon-share-alt forwardButton actionButton"></span>
            </a>
        </div>
        <div class="clearfix"></div>
</div>
{%endfor%}
<a href="{{ url_for('newItem') }}" class="btn btn-success glyphicon glyphicon-plus"></a>
{% endblock %}