{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}New Item{% endblock %}
{%block header%}
<h1>Tripping Archer <small>
    <strong>H</strong>ome 
    <strong>M</strong>anagement 
    <strong>S</strong>ystem
    </small>
</h1>
{%endblock%}
{% block body %}
<h2>New Item</h2>

<form method=post action="{{ url_for('newItem')}}">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.fridgeCount) }}
    {{ render_field(form.rebuyPoint) }}
  </dl>
  <p><button class="btn btn-success glyphicon glyphicon-check" type=submit value=New > </button>
</form>
{% if items %}
<h3>Disabled Items</h3>
{% for item in items%}
<div class="bs-callout bs-callout-info zheight-2">
  <span>{{item.name}}</span>
  <div class="buttons pull-right">
    <button class="btn btn-primary glyphicon glyphicon-plus addItem editButton actionButton" value="{{item.id}}" data-toggle="modal" data-target="#readdItem"></button>
  </div>
  <div class="clearfix"></div>
</div>
{% endfor%}
{%endif%}
{% endblock %}

{% block footer%}
<a href="{{ url_for('fridge')}}"><button class="btn btn-primary">Back</button></a>
{% endblock %}

{% block modals %}
<div class="modal fade" id="readdItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Readd Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" action="{{url_for('updateItem')}}" method="GET">
          <div class="form-group">
            <input type="hidden" name="itemId" id="itemId" value=>
            <label for="count">How many</label>
            <input type="number" class="form-control" id="count" value="1" name="count" step='0.5'>
          </div>
          <button type="submit" class="btn btn-primary glyphicon glyphicon-check"></button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/newItem.js')}}"></script>
{% endblock %}